<div class="collections-categories" aria-label="Shop by category">
  <div class="collections-categories__col">
    <h5 class="collections-categories__label" data-i18n="collections.women">WOMEN</h5>
    <a href="/shop.html?cat=hers" class="collections-categories__btn" data-i18n="collections.explore">EXPLORE</a>
  </div>
  <div class="collections-categories__col">
    <h5 class="collections-categories__label" data-i18n="collections.men">MEN</h5>
    <a href="/shop.html?cat=his" class="collections-categories__btn" data-i18n="collections.explore">EXPLORE</a>
  </div>
  <div class="collections-categories__col">
    <h5 class="collections-categories__label" data-i18n="collections.uni">UNI</h5>
    <a href="/shop.html?cat=uni" class="collections-categories__btn" data-i18n="collections.explore">EXPLORE</a>
  </div>
</div>
